#!/bin/sh

# PRJ Base Directory Specification: https://github.com/numtide/prj-spec
# Provides PRJ_ROOT, PRJ_DATA_HOME, PRJ_RUNTIME_DIR, ... which the frappix shell requires.
# shellcheck disable=SC1090
. "$(fetchurl "https://raw.githubusercontent.com/numtide/prj-spec/9b0ffcd0fddcb261bcd73ad9dad18a096760b4a0/contrib/direnv" "sha256-54YaaGly6Q0E8GhFT9fB/h9tN1PDERo2/4R4X0Pdi/c=")"

watch_file apps/pkgs.nix apps/_pins.nix tools/shells.nix
watch_dir apps/_pins

use flake
